
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// font-awesome
@import "node_modules/font-awesome/scss/font-awesome";

// alert 弹框
@import "node_modules/sweetalert/dev/sweetalert";

// simplemde 样式
// @import "node_modules/simplemde/src/css/simplemde";
@import "node_modules/simplemde/dist/simplemde.min";

body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
}
.navbar-default {
    background-color: #f8f8f8;
}

.col-lg-3,.col-lg-6,.col-lg-9,.col-lg-12 {padding:0px;}        /*栅格padding消除*/

.pd-right {padding-right:15px;}
.pd-left {padding-left:15px;}

@media screen and (max-width: 1201px){
    .pd-no {padding:0px;}
}

@media screen and (min-width: 768px){
    .navbar-right{margin-right: 0px;}
}

